/**************************************************************
* Colors for the project
***************************************************************
*/ 
:root {
  --color-blue: hsl(195deg 72% 45%);
  --color-red: hsl(353deg 72% 45%);
  --color-yellow: hsl(37deg 73% 45%);
  --color-light: hsl(37deg 100% 93%);
  --color-green: hsl(117deg 27% 41%);
  --color-brown: hsl(353deg 100% 6%);
  --color-black: hsl(0deg 0% 0%);
  --color-white: hsl(0deg 0% 100%);

  background-color: var(--color-light);
  color: var(--color-yellow);

}



.sticky-main {
  background: url("../images/botanist-transparent2.png") 50% 50%/contain no-repeat fixed;
}

.sticky-header {
  background-color: var(--color-red);
  color: var(--color-blue);
}

.sticky-footer {
  background-color: var(--color-blue);
  color: var(--color-red);
}

.sticky-menu {
  a {
    color: var(--color-light);
  }

  a:hover {
    color: var(--color-brown);
  }
}

.sticky-menu__inner {
  background-color: var(--color-green);
  padding: 0.5em;
  width: 10em;
}