/**************************************************************
* Typography
***************************************************************
*/ 
.sticky-container {
  --font-baloo: "Baloo Chettan 2", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
  --font-ostwald: "Oswald", "Impact", "Roboto Condensed", arial, sans-serif;
}

.sticky-main {
  text-align: justify;
}

.sticky-footer p,
.sticky-header h3 {
  font-family: var(--font-baloo);
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}


@include media-query-up (medium) {

  .sticky-footer p,
  .sticky-header h3 {
    font-size: 2.5rem;
  }
}

@include media-query-up (large) {

  .sticky-footer p,
  .sticky-header h3 {
    font-size: 3rem;
  }
}